@import './assets/style/font/font.css'
.navbar
    padding: 2em
.navbar-middle
    margin-left: 14em
.nav-item
    margin-left: 4em
.search-icon
    border-style: solid
    border-width: 2px
    border-color: #D8D8D8
    border-radius: 50%
    width: 42px
    height: 42px
    text-align: center
.navbar-item img 
    max-height: 3em
.img
    border-width: 1px
    border-radius: 50%
    max-height: 42px
.img-container
    width: 90px
    height: 50px
.hero-title
    font-size: 52px
    padding: 0.5em 3em 0.5em 0.5em
.user-card
    display: inline-block
.card-name
    font-size: 16px
.card-content
    font-size: 14px
    padding: 0em
.badge-online
    font-size: 10px
.button-radius
    border-radius: 9px
.img-user
    border-radius: 5px